CreditCardValidation/validationForCC/xsd/creditcheck.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.globalcompany.com/ns/CCAuthorizationService"
     targetNamespace="http://www.globalcompany.com/ns/CCAuthorizationService" elementFormDefault="qualified">
    <xsd:element name="creditcardStatusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CCNumber" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="creditcardStatus" type="xsd:string"/>
    <xsd:element name="error" type="xsd:string"/>
</xsd:schema>
